</main>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <div class="footer-logo">
                        <img src="/images/logo.png" alt="Virelia Logo">
                        <span>Virelia</span>
                    </div>
                    <p>The ultimate Minecraft survival experience awaits you.</p>
                    <div class="footer-social">
                        <a href="https://discord.gg/WUyMsbyYAM"><i class="fab fa-discord"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-section">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="https://discord.com/channels/1402150354988306556/1402259781850370148/1403667217534418945">Server Rules</a></li>
                        <li><a href="http://localhost:3000/minecraft/subscription#">Vote Shop</a></li>
                        <li><a href="#staff">Staff Team (Coming Soon)</a></li>
                        <li><a href="https://virelia.live/contact">Support</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Server Info</h4>
                    <ul>
                        <li>IP: play.virelia.live</li>
                        <li>Version: 1.21.8</li>
                        <li>Type: Survival</li>
                        <li>Difficulty: Hard</li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Virelia Minecraft Server. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>